<!DOCTYPE html>
<html>
<head>
	<title>Editing {{.Title}}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Editing {{.Title}}</h1>
			<hr>
			<form action="/save/{{.Title}}" method="POST">
				<textarea name="body" class="form-control" rows="3">{{printf "%s" .Body}}</textarea>
				<br>
				<input class="btn btn-success" type="submit">
			</form>
		</div>
		
	</div>
</body>
</html>
