<!DOCTYPE html>
<html>
<head>
	<title>{{.Title}}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Editing {{.Title}}</h1>
		</div>
		<div class="row">
			[<a href="/edit/{{.Title}}">edit</a>]
		</div>
		<div class="row">
			{{.Body}}
		</div>		
	</div>
</body>
</html>
